{{!-- <div>
  <% if (message) { %>
  <%  <p><%= message %></p> %>
  <% } %>
</div> --}}

<div id="login">
  <h1>Log into your account</h1>
  <form action="/auth/login" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
{{!-- 
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}} --}}

  </form>
</div>
