{{!-- <nav>
<div style="display: flex; align-items: baseline">
    <a href="/user/profile">Back </a> <span> | </span>
    <a href="/business/profile/edit"> Update business data </a> <span> | </span>
    <form action="/auth/logout" method="post">
        <input type="submit" value="Log out" style="width: 100%; background-color: transparent; border: none; color: #00B7FF; font-size: 1rem"></input>
    </form>
</div>
</nav> --}}
