<div id="myLinks">
  <a href="/auth/signup">Signup</a> 
  <a href="/auth/login">Login</a> 
  <a href="/business">Collaborators</a>
  <a href="/">Back</a>
</div>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars 5x" id="burger"></i>
</a>

<div class= "about_page_container">
  <div class= "about_page_content">
    <h1>What is Zero <br> Food Waste? </h1>
      <article>        
        Zero food waste is a company based in Barcelona that is on a mission to reducing food waste. <br><br>
        We make it easy for businesses to share their high quality left-overs to our hungry customers. <br><br>
        "Be the change you want to see in the world." <br><br>
        - Gandhi
     </article>
  </div>
</div>
 