<div id="error500">
    <div>
        <img src="/images/Diseño sin título.png" alt="error image">
        <h1 id="errortitle">ERROR 500</h1>
    </div>
    <div>
        <h1>Server error.</h1>
        <br>
        <br>
        <h2><a href="/">Take me back home</a></h2>
    </div>
</div>