<div id="error404">
    <img src="/images/error-404-6052476_1920.png" alt="error image">
    <div>
    <h1>Something went wrong.</h1>
    <br>
    <br>
    <h2><a href="/">Take me back home</a></h2>
    </div>
</div>