<h1>Home page</h1>
<p>Welcome to Zero Food-waste App</p>
<nav>
  <ul>
    <li id="to-right">
      <a href="/signup">Signup</a> <span> | </span>
      <a href="/auth/login">Login</a>
    </li>
  </ul>
</nav>