<div id="home">
  <h1>Zero Food-waste app</h1>
  <h2>Welcome to our home page</h2>
  <nav>
    <ul>
      <li>
        <h2><a href="/auth/signup">Signup</a> <span> | </span>
        <a href="/auth/login">Login</a> <span> | </span>
        <a href="/business-list">Collaborators</a></h2>
      </li>
    </ul>
  </nav>
</div>