<div id="myLinks">
  <a href="/auth/signup">Signup</a> 
  <a href="/auth/login">Login</a> 
  <a href="/business">Collaborators</a>
</div>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars 5x"></i>
</a>
<div class="homepage__container">
  <div class= "homepage__container_image">
    <div class= "homepage__container_title">
      <h1>Zero Food Waste</h1>
      <h2>Just eat it!</h2>
    </div>
  </div>

  <div class="homepage_container_nav">
     <h2>Welcome to our home page</h2>
    <nav>
      <ul>
        <li class="homepage_footer">
          <a href="/auth/signup">Signup</a> <span> | </span>
          <a href="/auth/login">Login</a> <span> | </span>
          <a href="/business">Collaborators</a>
        </li>
      </ul>
    </nav>
  </div>
</div>