<div class="homepage_container">
  <div class= "homepage__container_image">
    <div class= "homepage__container_title">
  <h1>Zero Food-waste</h1>
  </div>
  </div>

  <div class="homepage_container_nav">
     <h2>Welcome to our home page</h2>
  <nav>
    <ul>
      <li>
        <h2><a class="homepage_nav__button" href="/auth/signup">Signup</a> <span> | </span>
        <a class="homepage_nav__button" href="/auth/login">Login</a> <span> | </span>
        <a class="homepage_nav__button" href="/business">Collaborators</a></h2>
      </li>
    </ul>
  </nav>
  </div>
</div>