<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/index.css' />
     <link rel='stylesheet' href='/stylesheets/login_signup.css' />
    <link rel='stylesheet' href='/stylesheets/user_homepage.css' />

   
     <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    {{{body}}}
  </body>
</html>
