<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/login_signup.css' />
    <link rel='stylesheet' href='/stylesheets/user_homepage.css' />
    <link rel='stylesheet' href='/stylesheets/business_homepage.css' />
    <link rel='stylesheet' href='/stylesheets/update_page.css' />
    <link rel='stylesheet' href='/stylesheets/products.css' />
    <link rel='stylesheet' href='/stylesheets/add-products.css' />
    <link rel='stylesheet' href='/stylesheets/add-business.css' />
    <link rel='stylesheet' href='/stylesheets/orders.css' />
    <link rel='stylesheet' href='/stylesheets/collaborators.css' />
    <link rel='stylesheet' href='/stylesheets/business-details.css' />
    <link rel='stylesheet' href='/stylesheets/flash-messages.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/buttons.css' />
    <link rel='stylesheet' href='/stylesheets/order-detail.css'>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {{>nav}}
    
    {{{body}}}

    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
        var y = document.getElementById("burger");
        var y_white = document.getElementById("burger_white");
        x.style.display = "flex";
        y.style.display = "none";
        y_white.style.display = "none";
      }
    </script>
  </body>
</html>
