<div class="add_product_container">
    <div class="user_homepage_nav">  
      <a href="/orders">Orders</a> <span> | </span>
      <a href="/user/profile/edit"> Profile </a>  <span> | </span>
       <a href="/business/products">Back</a>  
  </div>
      
    <h1>Add a new product</h1>
<div class="add_product_form_container">  
    <form action="/business/add-product" method="post" enctype="multipart/form-data">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Your product's description">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" placeholder="Your product's price"> <i class="fas fa-dollar-sign fa-2x"></i>
        <div class="image_upload_form">
            <label for="image-input">Add image:</label>
            <input type="file" name="image" id="image-input" class="form-control-file" />
        </div>
        <button type="submit">Add product</button>
    </form>
</div> 
</div>