<div id="signup-business">
    <h2>Sign up business</h2>
    
    <form action="/business/add" method="post">
        <label for="businessName">Business name</label>
        <input type="text" id="businessName" name="businessName" placeholder="Your business' name">
        <label for="businessType">Business type</label>
        <input type="text" id="businessType" name="businessType" placeholder="Your business type">
        <label for="city">City</label>
        <input type="text" id="city" name="city" placeholder="Your city">
        <button type="submit">Sign up</button>
    </form>
</div>