<div class="add_product_container">
    <h1>Edit product</h1>    
       
    <div class="add_product_form_container">  
        <form class="add_product_form" action="/business/products/{{this.dbProduct.id}}/edit" method="post" enctype="multipart/form-data">
            <label for="description">Description</label>
            <br>
            <i class="fab fa-product-hunt fa-1x"></i> 
            <input type="text" name="description" id="description" value="{{this.dbProduct.description}}"> 
            <br>

            <label for="price">Price</label>
            <br>
            <i class="fas fa-dollar-sign fa-1x"></i> 
            <input type="number"   step="any" name="price" id="price" value="{{this.dbProduct.price}}"> 
            <br>

            <div class="add_product_form">
            <i class="far fa-file-image fa-1x"></i>  <label for="image-input">Add image:</label>
            <input type="file" name="image" id="image-input" class="form-control-file"/> 
            </div>
            <br>
            <button class="add_product_btn" type="submit">Edit product</button>
        </form>
    </div> 
</div>