<h1>Edit Business</h1>
<div id="edit">
  <h2>Edit Business</h2>
  <form action="/business/profile/edit" method="POST">

    <label for="businessName">Business Name: </label>
    <input type="text" id="businessName" name="businessName" value="{{dbBusiness.businessName}}">
    <label for="businessType">Business Type: </label>
    <input type="text" id="businessType" name="businessType" value="{{dbBusiness.businessType}}">
    <label for="city">City: </label>
    <input type="text" id="city" name="city" value="{{dbBusiness.city}}">
    <button type="submit">Save changes</button>
  </form>

</div>