<div class="collaborators_page_container">
    <nav class="collaborators_page_nav">
        <a href="/">Go back</a>
    </nav>
    
    <div class="collaborators_page_content">
        {{#each dbBusiness}}
        <div class="collaborators_page_item">
            <h1>{{this.businessName}}</h1>
            <h2>Type: {{this.businessType}}</h2>
            <h2>City: {{this.city}}</h2>
        </div>
        {{/each}}
    </div>
</div>