<div class= "business_homepage_container">
{{#if dbBusiness}}
    <div class="business_homepage_nav">
        <a href="/user/profile">Back</a><span> | </span>
        <a href="/business/profile/edit"> Update business data </a> <span> | </span>
        <form action="/auth/logout" method="post">
            <input type="submit" value="Log out" class="generic_btn"></input>
        </form>
    </div>
  
    <img class= "busines_homepage_image" src="{{dbBusiness.imageUrlBusiness}}" alt="{{title}}">
  

    <div class="business_homepage_buttons_container">
        <div class="business_homepage_buttons">
        <form action="/business/products" method="get">
            <input class="business_homepage_btn_Myproducts" type="submit" value="My products"></input>
        </form>
        </div>
        <div class="business_homepage_buttons">
        <form action="/business/orders" method="get">
            <input class="business_homepage_btn" type="submit" value="My orders"></input>
        </form>
        </div>
    
    </div>

    <div class="business_homepage_footer">
        <h4>Welcome, {{ dbBusiness.businessName }}!</h4>
    </div>
    {{else}}
     <p>Still no logged in user, sorry!</p>
    {{/if}}
</div>