<div class="orders_page_container">
    <nav class="orders_page_nav">
        <a href="/business/profile">Back</a> <span> | </span>
        <form action="/auth/logout" method="post">
            <input type="submit" value="Log out" class="generic_btn"></input>
        </form>
    </nav>

    <h1 class="bussines_orders_page_container_title">Current orders: </h1>
    {{#if dbOrders}}
        <div class="orders_page_scroll">
            {{#each dbOrders}}
                <div class="business_orders_page_item">
                    <h4 class="content_card_title">New order!</h4>
                    <p class="content_card_id">Order ID: {{this._id}}</p>
                    <p class="content_card_user">User: {{this.user.firstName}}</p>
                    <p class="content_card_product">Product: {{this.product.description}}</p>
                </div>
            {{/each}}
        </div>
        {{else}}
        <p>There are no orders at the moment!</p>
    {{/if}}
</div>