<div class="product_page_container">
    <nav class="product_page_nav">
        <a href="/business/profile">Back</a>
        <form action="/auth/logout" method="post">
            <input type="submit" value="Log out" class="green_btn"></input>
        </form>
    </nav>

    <h2 style="text-align: center;">Current products: </h2>
    {{#if dbProducts}}
        <div id="list">
            {{#each dbProducts}}
                <div id="business">
                    <h2>{{this.description}}</h2>
                    <p>Price: {{this.price}}</p>
                </div>
            {{/each}}
        </div>
        {{else}}
        <p>There are no products at the moment!</p>
    {{/if}}

    <form action="/business/add-product">
        <input type="submit" value="Add new product" class="product_page_btn">
    </form>
</div>