<div class="orders_page_container">
    {{#if successMessage}}
        <div class= "order_success_message">
            {{successMessage}}
        </div>
    {{/if}}
<h1 class="orders_page_container_title">Shopping cart</h1> 
    {{#if dbOrders}}
        {{> orderHistory}}  
        {{else}}
            <h2>There's no orders in your history!</h2>
    {{/if}}
    
</div>