.business_details_offer_container {
  margin-top: 10vh;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.business_details > h1 {
  padding-top: 5vh;
}

.business_details > h2 {
  padding-top: 2vh;
}