.flash_message {
  position: absolute;
  margin: 5vh;
  color: white;
  background-color: rgba(165, 42, 42, 0.729);
  font-size: 1.2rem;
  top: 10%;
  right: 5%;
  padding: 1rem;
  font-weight: 800;
  animation: cssAnimation 0s 3s forwards;
  visibility: visible;
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
  }
}

.order_success_message {
  position: absolute;
  top: 10%;
  left: 20%;
  padding: 1rem;
  background-color: rgb(136, 248, 183);
  width: 60%;
  margin: auto;
  animation: cssAnimation 0s 3s forwards;
}
