.homepage__container {
  display: flex;
  flex-direction: column;
}

.homepage__container_image {
  background-image: url('../images/background-images/Thai-food-Tom-Yam-Kung.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.homepage__container_title {
  color: white;
  padding: 1rem;
  background-color: rgba(18, 18, 19, 0.503);
  display: flex;
  align-items: center;
  height: 50%;
  margin-top: 25%;
}

.homepage_container_nav {
  padding-top: 1rem;
}

.homepage_footer {
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 7vh;
  background-color: rgb(12, 58, 19);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homepage_footer a,
.homepage_footer span {
  color: white;
}