.login_signup_container {
  background-image: url(../images/background-images/pizza-3007395_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.login_signup_container__form {
  width: 100%;
  height: 100vh;
  background-color: rgba(231, 231, 240, 0.434);
}
