.product_page_container {
  background-color: rgb(249, 233, 221);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product_page_nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: rgb(12, 58, 19);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.product_page_nav > a {
  color: white;
}

.green_btn {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: 'Roboto Slab';
}

.product_page_btn {
  background-color: transparent;
  border: 2px solid rgb(12, 58, 19);
  color: rgb(12, 58, 19);
  padding: 1rem;
  border-radius: 3%;
  cursor: pointer;
}
