@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

body {
  background-color: rgb(249, 233, 221);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100vh;
  font: 14px;
  font-family: 'Roboto Slab';
}

a,
.logout_btn {
  color: rgb(12, 58, 19);
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

form label {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.logOut {
  width: 100%;
  align-self: flex-end;
  background-color: grey;
  border: 1px solid grey;
}

.hide {
  display: none;
}

#home,
#signup,
#signup-business,
#signup-user,
#business,
#user,
#login,
#add-product,
#edit {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 100vh;
}

#error404,
#error500 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

#error404 > img,
#error500 > img {
  height: auto;
  width: 50%;
}

#errortitle {
  font-family: 'Tillana', cursive;
  font-size: 5rem;
  color: #38c6ff;
  margin-top: 4rem;
}

#list {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

#business {
  border: 1px solid rgb(247, 127, 53);
  border-radius: 3%;
  width: 80%;
  height: 50vh;
  margin-bottom: 3rem;
}

#business > h1 {
  color: rgb(247, 127, 53);
}

.back {
  background-color: rgb(247, 127, 53);
  color: white;
  border-radius: 3%;
  font-size: 1.5rem;
  margin: 0 0 2rem 2rem;
  padding: 1.5rem;
}


/* TABLET */
@media only screen and (min-width: 600px) {
  /* Styles */
}


/* DESKTOP */
@media only screen and (min-width: 768px) {
  /* Styles */
}