.user_homepage_nav {
  /* position: fixed;
  overflow: hidden;
  top: 0; */
  width: 100%;
  height: 7vh;
  background-color: rgb(12, 58, 19);
}

.user_homepage_nav > a {
  color: white;
}

.logout_btn {
  color: white;
  border: none;
  background-color: transparent;
}

.user_homepage_greetings {
  display: flex;
  justify-content: space-between;
}

.user_homepage_greetings_helloUser {
  font-size: 0.7rem;
}

.user_homepage_isBusiness {
  background-color: rgba(0, 0, 0, 0.284);
  font-size: 0.4rem;
}

.user_homepage_isBusiness_button {
  background-color: rgba(0, 0, 0, 0.832);
}

.user_homepage_isBusiness_button > a {
  font-size: 0.7rem;
}
