<div id="signup-business">
    <h1>Sign up business</h1>
    <h2>Create user</h2>
    <form action="/signup/business" method="post">
        <label for="businessName">Business name</label>
        <input type="text" id="businessName" name="businessName" placeholder="Your businessName">
        <label for="businessType">Business type</label>
        <input type="text" id="businessType" name="businessType" placeholder="Your business type">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" placeholder="Your e-mail">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="**********">
        <label for="city">City</label>
        <input type="text" id="city" name="city" placeholder="Your city">
        <button type="submit">Sign up</button>
    </form>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>