<div id="signup-business">
    <h1>Sign up business</h1>
    <h2>Create user</h2>
    <form action="/signup/business" method="post">
        <label for="businessname">Business name</label>
        <input type="text" id="businessname" name="businessname" placeholder="Your businessname">
        <label for="businesstype">Business type</label>
        <input type="text" id="businesstype" name="businesstype" placeholder="Your business type">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" placeholder="Your e-mail">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="**********">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" placeholder="Your location">
        <button type="submit">Sign up</button>
    </form>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>