<form action="/auth/logout" method="post">
    <label for="">Log out</label>
    <button type="submit">Log out</button>
</form>

<h1>Customer home page</h1>

<a href="/">Back</a>

<a href="/customer/{{dbCustomer.id}}/edit"> Update customer data </a>


{{#if custInSession}}
<h2>Welcome, {{ custInSession.name }}!</h2>
<p>This is your profile page my friend!</p>
<button>
  <a href="/mainPage">Reload the page</a>
</button>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}